




<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <? include ../partials/head ?>
</head>


<body class="container">

    <header>
        <? include ../partials/header ?>
    </header>

    <main>
        <div class="jumbotron">
            <h2>  <?= title ?></h2>

            Meister aims at three things: <br><br>

            1- Quality <br><br>
            2- Quality<br><br>
            3- And more quality<br><br>

            So stay tuned...<br><br><br><br>

            We are coming soon!


        </div>
    </main>

    <footer>
        <? include ../partials/footer ?>
    </footer>

</body>



</html>
